g.blob {}

    /* anim */
    path.blob-path, circle.blob-knot {
        transition: stroke-opacity 0.1s ease-in-out;
    }
    
    /* blob outline (curved path) */
	path.blob-path {
        stroke: #000;
        stroke-width: 4;
        stroke-opacity: 0;
        cursor: pointer;
    }
    .blob.active path.blob-path {
        stroke-opacity: 0.8;
    }

    /* blob shape controlling fixed knots */
	circle.blob-knot {
        stroke: #000;
        stroke-width: 24;
        stroke-opacity: 0;
        fill: none;
        cursor: pointer;
    }
    .blob.active circle.blob-knot {
        stroke-opacity: 0.2;
        fill: #666;
    }
    .blob.active circle.blob-knot:hover {
        stroke-opacity: 0.6;
    }
