#blobs {
    position: relative;
	margin: 30px;
	display: inline-block;
	border: 1px dotted #666;
}


g.blob {}

	path.blob-path {}

		g.blob.active path.blob-path {
			stroke: #000;
			stroke-width: 4;
			stroke-opacity: 0.8;
		}


	circle.blob-knot {}

		g.blob.active circle.blob-knot {
			stroke: #000;
		    stroke-width: 24;
			stroke-opacity: 0.2;
			fill: #666;
		}
		g.blob.active circle.blob-knot:hover {
			stroke-opacity: 0.6;
		}
