#svg {
    width: 800px;
    height: 600px;
    position: relative;
    overflow: hidden;
    border: 1px dotted #666;
}

#blob {
    position: relative;
	margin: 30px;
	display: inline-block;
	border: 1px dotted #666;
}

svg circle.fixed-point {
    stroke-width: 24;
	stroke-opacity: 0;
	fill: #000;
}

svg:hover circle.fixed-point {
	stroke-opacity: 0.15;
	fill: #666;
}